:root {
	--bg-color:  whitesmoke;
	--highlight: #2684d6;
	--lowlight:  #0063bf;
	--text:      black;
	--page:      white;
	--gray:      dimgray;
}

body {
	font-family: serif;
	background: var(--bg-color);
	margin: 0;
	padding: 0;
	color: var(--text);
}

header {
	max-width: 40ch; /* based on font-size */
	font-size: 1.75em;
	text-align: right;
	margin: 0.30em auto;
	padding: 0 1ch;
}

footer {
	max-width: 70ch;
	margin: 0 auto 5em;
}

main {
	max-width: 70ch;
	margin: 0 auto 2em auto;
	padding: 2em;
	background-color: var(--page);
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}

blockquote { font-size: smaller; }

img { max-width: 100%; }

h1, h2 { margin-top: 0; margin-bottom: 0; }

a { text-decoration: none; }

a:link    { color: var(--highlight); }
a:visited { color: var(--lowlight); }
a:hover   { text-decoration: underline; }

a.external::after {
	vertical-align: top;
	font-size: 0.6em;
	content: " ↗";
}

.small-caps {font-variant-caps: all-small-caps;}

p, li {
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.7em;
}

aside {
	font-style: italic;
	color: var(--gray);
}

aside, p[rel="author"], sup { line-height: 1em; }

p[rel="author"] { font-weight: bold; }

::selection {
	background: var(--highlight);
	color:      var(--page);
}

@media (max-width: 36em) {
	main {
		margin: 0 auto;
		width: auto;
		padding: 1em;
	}

	p { text-align: left; }
}

@media (prefers-color-scheme: dark) {
	:root { /* Colors from everforest */
		--text:      #ebdbb2;
		--page:      #1d2021;
		--bg-color:  #282828;
		--gray:      #a89984;
		--highlight: #fabd2f;
		--lowlight:  #d79921;
	}
}

ul#tagcloud > li {
	display: inline;
	padding: 0 1ch;
}

#nextprev { overflow: hidden }

#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart { max-width: 45%; }
